<form action="/tags/<%= @tag.id %>/edit" method="post">
  <label for="tag-name-field">Name</label>
  <input id="tag-name-field" type="text" name="name" value="<%=@tag.name%>">

  <input type="submit" value="Save Changes">
</form>
