<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
</head>
<body>
  <h1> Budget Builder </h1>
  <nav>
    <ul>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
