<h1>Add new Tag</h1>

<form action="/tags" method="post">
  <label for="tag-name-field">Tag name:</label>
  <input id="tag-name-field" type="text" name="name">

  <button type="submit" name="submit">Add Tag</button>

</form>
