<% @totalspend = 0 %>
<% for transaction in @transactions %>
  <% @totalspend += transaction.spend %>
<% end %>

<h2>You have £<%= '%.2f' % (@budget.value.to_f - @totalspend) %> left of your £<%=@budget.value%> budget.</h2>

<p><a href="/transactions/new">New Transaction</a></p>
