<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
</head>
<body>
  <h1> Budget Builder </h1>
  <nav>
    <ul>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/budgets">Budgets</a></li>
    </ul>
  </nav>
  <div id="main_content">
    <%= yield %>
  </div>
</body>
</html>
