<h1>Budget</h1>

<%for budget in @budgets %>
  <table align = "center">
    <tr>
      <td>
        <p>Your current budget is: £<%= '%.2f' % budget.value %></p>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/budgets/<%= budget.id %>/edit" method="get">
        <input type="image" src="/icons/edit-30.svg" name="submit" value="Edit budget">
        </form>
      </td>
    </tr>
</table>
<% end %>
