<form action="/merchants/<%= @merchant.id %>/edit" method="post">
  <label for="merchant-name-field">Merchant Name:</label>
  <input id="merchant-name-field" type="text" name="name" value="<%=@merchant.name%>" required="required">

  <input type="submit" value="Save Changes">
</form>
