<h1>Add new Merchant</h1>

<form action="/merchants" method="post">
  <label for="merchant-name-field">Merchant name:</label>
  <input id="merchant-name-field" type="text" name="name" required="required">

  <label for="merchant-type-field">Merchant Type:</label>
  <input id="merchant-type-field" type="text" name="catagory" required="required">

  <button type="submit" name="submit">Add Merchant</button>

</form>
